{% extends 'admin/base.html.twig' %}
{% block title %}Modifier un pays{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Modifier un pays</h6>
            </div>
            <div class="card-body">
                <form method="post" action="{{ path('country_edit', {id: country.id}) }}">
                    <div class="form-group">
                        <label for="paysNom">Nom du pays</label>
                        <input type="text" class="form-control" id="paysNom" name="name" value="{{ country.name }}" list="country-list">
                        <datalist id="country-list">
                            {% for option in suggestions %}
                                <option value="{{ option }}">
                            {% endfor %}
                        </datalist>
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
